<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django CRUD Application</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>

        {% if user.is_authenticated %}
        <li><a href="{% url 'tasks' %}">Tasks Pending</a></li>
        <li><a href="{% url 'tasks_completed' %}">Tasks Completed</a></li>
        <li><a href="/tasks/create">Create Task</a></li>
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/signup">Signup</a></li>
        <li><a href="/signin">Signin</a></li>
        {% endif %}
      </ul>
    </nav>
    {% block content %} {% endblock %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
