{% extends "base.html" %} {% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sunt
      debitis, velit tenetur itaque aliquid aperiam voluptas, modi soluta
      voluptate ipsam eos repellendus maxime, porro cum! Quidem facilis
      assumenda voluptas?
    </p>
    <div class="text-center">
      <a class="btn btn-primary" href="{% url 'signup' %}">SignUp</a>
      <a class="btn btn-primary" href="{% url 'signin' %}">SignIn</a>
    </div>
  </section>
</main>

{% endblock %}
