{% extends 'base.html' %} {% block content %}

<main class="container py-5">
  <section>
    <h1 class="text-center">Bienvenid@ {{user.username}}</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, ea cumque!
      Sint repudiandae dicta sunt quam, ex amet deleniti voluptatibus similique
      accusantium ad, earum cupiditate corrupti doloribus. Sunt, dolores esse.
      Aspernatur nam libero eligendi, amet tempore inventore. Earum eius
      veritatis nostrum impedit, rerum consectetur, corrupti consequuntur
      facilis iure veniam, vitae dignissimos architecto minima sit accusantium
      ab eveniet vel illo alias!
    </p>
  </section>
</main>

{% endblock %}
